.footer {
    color: #6F4436;
    display: flex;
    justify-content: center;
    background-color: #DFCCAF;
    width: 100%;
}

.footer h6 {
    position: absolute;
    text-align: center;
    margin: auto;
    background-color: #DFCCAF;
    padding: 35px 0px;
    width: 100%;
    bottom: 0;
}