.footer {
    display: flex;
    color: #6F4436;
    background-color: #DFCCAF;
    width: 100%;
}

.footer h6 {
    position: absolute;
    text-align: center;
    margin: auto;
    background-color: #DFCCAF;
    padding: 40px;
    width: 100%;
    bottom: 0;
}